@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@465&family=M+PLUS+1+Code:wght@100..700&display=swap');


*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
      }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
  }


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, black,#170d04,#2c1401,#6b370f);
    padding: 10px;
    background-image: url('images/home-img.jpg'),linear-gradient(to right, rgba(59, 29, 3, 0.871),#170d04,#2c1401,#6b370f);
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.todo-app{
    width:100%;
    max-width :540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.todo-app h2{
    margin-left: 23%;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.todo-app h2 img{
    width: 50px;
    margin-left:10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 12px 12px 40px;
    color: wheat;
    user-select: none;
    cursor: pointer;
    position: relative;
    

}

ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
  color:#555;
  text-decoration: line-through;
  /* transition: text-decoration 1s ease; */
}

ul li.checked::before{
  background-image: url(images/checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top:0px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #545454;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #f2d087;
}


.alert{
  background-color: #a60505c4;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  display: none;
  text-align: center;
  top: 30px;
  position: absolute;
  left: 50%;
  transform:translate(-50%, 0%)
}




ul li{
  transform: translate(-100%,0px);
  opacity: 0;
  animation: item-slide 1s forwards;
}

@keyframes item-slide {
  0%{

  }

  100%{
      opacity: 1;
      transform: translate(0px,0px);
  }
}

.history-button {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background:none ;
  border: 2px solid darkorange;
  color: wheat;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.history-button:hover{
background-color: #ff5945;
}


#fade-in {
  opacity: 0;
  transition: opacity 2s;
}

#fade-in.show {
  opacity: 1;
}




